* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100; 
}

header #logo {
    font-size: 2em;
    color: #7d2ae8;
    cursor: default;
}

header #navbar a {
    text-decoration: none;
    color: #555;
    font-size: 1.1em;
    font-weight: 500;
    margin-right: 40px;
    transition: .5s;
    border-bottom: 2px solid transparent;
}
header #navbar a:hover,
#navbar a.active {
    color: #7d2ae8;
    border-color: #7d2ae8;
}

header #button {
    color: #fff;
    text-decoration: none;
    padding: 8px 35px;
    border-radius: 10px;
    border: 1px solid #7d2ae8;
    background-color: #7d2ae8;
    transition: .5s;
}

header #button:hover {
    color: #7d2ae8;
    background: transparent;
}

#article {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    align-items: center;
    padding: 0px 100px;
}

#content {
    max-width: 500px;
    color: #555;
}

#content h2 {
    font-size: 2.8em;
}

#content h2 span {
    color: #7d2ae8;
}

#content h4 {
    font-size: 2em;
}

#content p {
    padding: 10px 0 40px 0;
}

.btm a {
    color: #fff;
    text-decoration: none;
    padding: 10px 40px;
    background-color: #7d2ae8;
    border-radius: 10px;
    margin: 0 20px 0 0;
    border: 1px solid #7d2ae8;
    font-weight: 500;
    transition: .5s;
}

.btm a:hover {
    color: #7d2ae8;
    background: transparent;
}

.btm a:nth-child(2) {
    background: transparent;
    color: #7d2ae8;
}

.btm a:hover:nth-child(2) {
    background-color: #7d2ae8;
    color: #fff;
}

div .socialmedia {
    position: absolute;
    bottom: 50px;
}

div .socialmedia a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #7d2ae8;
    border-radius: 50%;
    margin-right: 22px;
    text-align: center;
    line-height: 35px;
    border: 1px solid #fff;
    outline: 2px solid #7d2ae8;
    transition: .5s;
}

div .socialmedia a i {
    color: #fff;
}

div .socialmedia a:hover {
    transform: translateY(-12px);
}